[
[org.clojure/clojure]
[org.clojure/tools.logging]
[log4j
 :exclusions [javax.mail/mail
              javax.jms/jms
              com.sun.jdmk/jmxtools
              com.sun.jmx/jmxri]]
[clojure-ini]
[superstring]
[clj-json]
[org.clojure/data.xml]
[io.nervous/kvlt]
[org.clojure/core.async]
]
